{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}

    <div>
        <h1>Your order</h1>
        <div>
            <ul class="list-group">
                {% for item in cart %}
                    <li class="list-group-item">

                        {{ item.quantity }} X {{ item.product.name }} = <span>${{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>

        </div>
    </div>

    <h1>Checkout</h1>
    <form action="." method="post">
        {% csrf_token %}
{{ form.as_p }}
            <button type="submit" class="btn btn-success btn-product">
                <span class="glyphicon glyphicon-shopping-cart"></span> Place order
            </button>

    </form>

{% endblock %}