{% extends "shop/base.html" %}
{% load staticfiles %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="breadcrumb">
                    <a class="breadcrumb-item active" href="{% url 'product_list' %}">Home</a>
                    <a class="breadcrumb-item" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                </div>

                <img src="{% if product.image %}{{ product.image.url }}{% else %}
                {% static "img/programing_lang.jpg" %}{% endif %}" width="100%" height="250em">
                <p class=" btn btn-primary" style="margin-top: 2em">${{ product.price }}</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post" class="card-link">
                                    {{ cart_product_form.quantity }}
                                    {% csrf_token %}
                            <input type="submit" value="Add to cart">
                        </form>


            </div>
            <div class="col-md-9">
                <div class="card-deck-wrapper">
                    <div class="card-deck">

                        <!-- Card 1 -->
                        <div class="card">
                            <div class="card-header"><h1>{{ product.name }}</h1></div>
{#                            <a class="card-link" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>#}

                            <div class="card-body">
                                <p class="card-text">{{ product.description|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                </div>
{#                                <h1>{{ product.name }}</h1>#}
{#                                <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>#}
{#                                <p class="price">${{ product.price }}</p>#}
{#                                {{ product.description|linebreaks }}#}
{#                                <p class="price">${{ product.price }}</p>#}

{#                                <form action="{% url "cart:cart_add" product.id %}" method="post">#}
{#                                    {{ cart_product_form }}#}
{#                                    {% csrf_token %}#}
{#                                    <input type="submit" value="Add to cart">#}
{#                                </form>#}
            </div>
        </div>
    </div>
{% endblock %}