
 #navbar{
            padding-top: 0;
            padding-bottom: 0;
        }
        .nav2 {
            padding-top: 16px;
        }  .n {
               padding-left: 61em;
           }
        .n a{
            text-decoration: none;

        }
        .bg-success {
            background-color: #124c86e6 !important;
        }
        hr {
            margin-top: 0.5rem;
        }



.text {
    position: relative;
    margin-top: 31px;
    transform: skew(14deg,0) rotate(-35deg);
    margin-left: -52px;
}